<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml-stylesheet href="http://www.w3.org/StyleSheets/TR/W3C-WD.css" type="text/css"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>QWiki</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link href="<%= public_path_for :stylesheet, 'master.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />
  <script src="<%= public_path_for :javascript, 'master.js' %>" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div id="header">
    <h1><a href="/">Wiki</a></h1>
  </div>
  <div id="content">
    <% if params[:action] == 'edit' %>
    <form action="/save/<%= params[:path] %>" method="POST"> 
      <fieldset>
        <textarea name="content"><%= catch_content :for_layout %></textarea>
      </fieldset>
      <input type="button" onclick="document.location.href='/<%= params[:path] %>';" value="Cancel" />
      <input type="submit" value="Save" />
    </form>
    <% else %>
    <a href="<%= request.referer %>">back</a> | 
    <a href="/edit/<%= params[:path] %>">edit</a><hr />
    <%= catch_content :for_layout %>
    <small>
      Viewing version <%= @current_version %> of <%= @latest_version %><br />
      <% if @current_version > 1 %>
      <a href="/<%= @latest_path + "_v#{@current_version - 1}" %>">Previous Version</a> |
      <% end %>
      <% if @current_version != @latest_version %>
      <a href="/<%= @latest_path %>">Latest Version</a> |
      <a href="/revert/<%= @latest_path %>?version=<%= @current_version %>">Revert to this version</a>
      <% end %>
    </small>
    <hr />
    <a href="/edit/<%= params[:path] %>">edit</a>
    <% end %>
  </div>
</body>
</html>